{% extends 'base.html' %}


{% block body %}

<!-- 
<div class="container">
	<p>All Trips</p>
	{% if trips %}
	<ul>
		{% for trip in trips %}
		<li><a href="/trip/{{trip.trip_id}}">{{trip.trip_name}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>


<div class="container">
	<p>Select a Trip</p>
	<p></p>
	<ul>
		{% if trips %}
			{% for trip in trips %}
		<li><a href="/{{next_route}}/{{trip.trip_id}}">{{trip.trip_name}}</a></li>
			{% endfor %}
		{% endif %}
	</ul>
</div>
 -->

{% endblock %}