<!DOCTYPE html>
<html>
<head>
	<title>
	{%block title %}Travel Journal{% endblock %}
	</title>

<!-- Bootstrap link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- link any font style api here too -->
<script src="http://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="static.css">
<!-- <style> </style> -->

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">User's Journal</button>
    <br>
    <br>
    <br>
    <button class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
  </form>
</nav>
</head> 

<body>

{% block body %}

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">User's Journal</button>
    <button class="btn btn-sm btn-outline-secondary" type="button">Logout</button>
  </form>
</nav>

<div>
{% with messages = get_flashed_messages() %}
	{% if message in messages %}
		{% for message in messages %}
			<h4>{{ message }}</h4>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>

{% endblock %}
</body>
</html>