<!DOCTYPE html>
<html>
<head>
	<title>
	{%block title %}Travel Journal{% endblock %}
	</title>

<!-- Bootstrap link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="http://code.jquery.com/jquery.js"></script>
<script></script>
<link rel="stylesheet" href="static.css">

</head> 

<body>

<header>
  <div class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Travel Journal</a>
      </div>
      {% if 'user_id' in session %}
      <ul class="nav navbar-nav">
        <li class="active"><a href="/user_journal/{{user_id}}">User's Journal</a></li>
        <br>
        <li><br><a href="/all_trips/{{user_id}}">Trips</a></li>
        <br>
        <li><a href="/logout">Logout</a></li>
        <br>
<!--         <li><br><a href="#">Entries</a></li>
        <br>
        <li><a href="#">Pictures</a></li> -->
      </ul>
      {% endif %}
    </div>
  </div>
</header>

<main role="main">
{% block body %}




<div>
{% with messages = get_flashed_messages() %}
	{% if message in messages %}
		{% for message in messages %}
			<h4>{{ message }}</h4>
		{% endfor %}
	{% endif %}
{% endwith %}
</div>

{% endblock %}
</main>
</body>
</html>