<!DOCTYPE html>
<html>
<head>
	<title>
	{%block title %}Travel Journal{% endblock %}
	</title>

<!-- Bootstrap link -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- link any font style api here too -->
<script src="http://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="static.css">
<!-- <style> </style> -->
</head> 

<body>
<!-- <nav "">
	<div "" >
		<a "" href="".</a>
			</div>
-->
{% block body %}

{% with messages = get_flashed_messages() %}
	{% if message in messages %}
		{% for message in messages %}
			<h4>{{ message }}</h4>
		{% endfor %}
	{% endif %}
{% endwith %}


{% endblock %}
</body>
</html>