{% extends 'base.html' %}

{% block title %}Travel Journal{% endblock %}


{% block body %}
<!-- <div style="background-image: url(/test-photo);">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Travel Journal</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li> 
    </ul>
  </div> this is bootstrap
</nav> -->   
<form action="/api/auth" method='POST'>
		<label>Enter your email address:</label><br>
		<input type="text" name="email" required>
		<label></label><br>
		<br>
		<input type="submit">
	</form><br>


<div class="container">
  <h3>Welcome to your private travel log!</h3>
  <p></p>
</div>
<!--users table -->
<form  action="/login" method="POST">
  <h3>User Information</h3><br>
  <br>
  <label>First Name</label>
  <input type="text" name="fname"><br>
  <label>Last Name</label>
  <input type="text" name="lname"><br>
  <label>Email</label>
  <input type="text" name="email"><br>
  <label>Password</label>
  <input type="text" name="password">
  <br>
  <input type="submit">
</form>
<!-- <div class="picture">
	<img src="/test-photo"> -->






{% endblock %}