{% extends 'base.html' %}

{% block title %}Trips Page{% endblock %}


{% block body %}

<br>
<br>
<br>
<div>
	<h3>{{ name }}</h3>
	<br>
	<h5>{{ description }}</h5>
	<br>
</div>
<br>
<br>
<div class="container">
	<!--<p>View Locations</p>-->
	{% if trip.locations %}
		
		{% for location in trip.locations %}
		<a href="/locations/{{location.location_id}}" type="button" class="btn btn-secondary">{{location.name}}</a>
		<br>
		{% endfor %}
	
	{% endif %}
	<br>
	<br>
</div>

<div class="container">
	<!--<p>View Entries</p>-->
	{% if trip.entries %}
	
	<br>
	{% for entry in trip.entries %}
	<a href="/entry/{{entry.entry_id}}" type="button" class="btn btn-dark">{{entry.title}}</a>
	<br>
	<br>
	<br>
	{% endfor %}
	<br>
	{% endif %}
</div>

{% endblock %}
