{% extends 'base.html' %}

{% block title %}Trips Page{% endblock %}


{% block body %}

<br>
<br>
<br>
	<h3>{{ name }}</h3>
	<h5>{{ description }}</h5>

<div class="container">
	<!--<p>View Locations</p>-->
	{% if trip.locations %}
		<ul>
			{% for location in trip.locations %}
			<li><a href="/locations/{{location.location_id}}" type="button" class="btn btn-dark">{{location.name}}</a></li>
			<br>
			{% endfor %}
		</ul>
	{% endif %}
</div>

<div class="container">
	<!--<p>View Entries</p>-->
	{% if trip.entries %}
	<ul>
		<br>
		{% for entry in trip.entries %}
		<li><a href="/entry/{{entry.entry_id}}" type="button" class="btn btn-dark">{{entry.title}}</a></li>
		<br>
		{% endfor %}
		<br>
	</ul>
	{% endif %}
</div>

{% endblock %}
