{% extends 'base.html' %}

{% block title %}Journal{% endblock %}


{% block body %}

<h5>Welcome to your journal.</h5>

<div id="round-buttons">
<div>
	<br>
	<a href="/create_trip" type="button" class="btn btn-dark">Create a Trip</a> <!-- class="btn btn-outline-success" -->
	<br>
</div>

<div>
	<br>
<a href="/select_trip?next_route=add_location" type="button" class="btn btn-dark">Add a location to a Trip</a>
	<br>
</div>
<!--The ? in a url breaks up request parameters -->
<div>
	<br>
<a href="/select_trip?next_route=add_entry" type="button" class="btn btn-dark">Add an entry to a Trip</a>
	<br>
	<br>
</div>
</div>

<form id="addNoteForm" action="/add_note"  type="button" class="btn btn-dark" method="POST" enctype="multipart/form-data">
	<h6>Add a note</h6><br>
	<br>
	<input type="text" name="note" id="note"><br>
	<input type="submit" class="btn btn-outline-success"><br>
</form>

<div class="container">
	<p>Notes</p>
	<ul id="allTheNotes">
		{% if notes %}
		{% for note in notes %}
		<li>{{note.note}}</li> <!--can add an href here -->
		{% endfor %}
		{% endif %}
	</ul>
</div>


{% endblock %}

