{% extends 'base.html' %}

{% block title %}Journal{% endblock %}


{% block body %}

<h4>Welcome to your journal.</h4>


<div>
	<br>
	<a href="/create_trip" class="btn btn-outline-success" role="button">Create a Trip</a>
	<br>
</div>

<div>
	<br>
<a href="/select_trip?next_route=add_location" class="btn btn-outline-success" role="button">Add a location to a Trip</a>
	<br>
</div>

<div>
	<br>
<a href="/select_trip?next_route=add_entry" class="btn btn-outline-success" role="button">Add an entry to a Trip</a>
	<br>
	<br>
	<br>
</div>

<!-- <div>
	<br>
	<a href="#" class="btn btn-outline-success" role="button">Future Vacation Ideas</a> <input type="submit" ajax?
	<label>List of vacation ideas</label>
	<input type="text" name="description"><br>
</div> -->

<form  action="/add_note/{{user_id}}"  class="btn btn-outline-success" role="button" method="POST" enctype="multipart/form-data">
	<h6>Add a note</h6><br>
	<br>
	<input type="text" name="note" id="note"><br>
	<input type="submit" class="btn btn-outline-success"><br>
</form>



{% endblock %}

