{% extends 'base.html' %}

{% block title %}Journal{% endblock %}



{% block body %}

<h4>Welcome to your journal.</h4>


<div>
	<a href="/create_trip">Create a Trip</a>
</div>

<div class="container">
	<p>View Trips</p>
	{% if trips %}
	<ul>
		{% for trip in trips %}
		<li><a href="/trip/{{trip.trip_id}}">{{trip.trip_name}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>

<div>
<a href="/select_trip?next_route=add_location">Add a location to a Trip</a>
</div>
 <div class="container">
	<p>View Locations</p>
	{% if locations %}
	<ul>
		{% for location in locations %}
		<li><a href="/locations/{{location.location_id}}">{{location.name}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>

<div>
<a href="/select_trip?next_route=add_entry">Add an entry to a Trip</a>
</div>

<div class="container">
	<p>View Entries</p>
	{% if entries %}
	<ul>
		{% for entry in entries %}
		<li><a href="/entry/{{entry.entry_id}}">{{entry.title}}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</div>
 

{% endblock %}